.control-panel {
  /* position: fixed; */
  /* top: 40px; */
  /* right: 40px; */
  width: 220px;
  margin: 12px;
  -webkit-margin-collapse: collapse;
  /* height: 300px; */
  padding: 8px;
  background-color: white;
  border-radius: 2px;
  z-index: 999;
}
