@use '../../variables.scss' as *;

.tile-node {
    /* 38mm x 26.5mm  */
    text-align: center;
    border: 1px solid #999;
    background-color: white;
    border-radius: 4px;
    width: 80px;
    height: 114px;
    padding: 4px 4px 4px 4px;
    
}
.tile-node h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    margin: 0;

    font-size: 40pt;
}

.tile-node-BLK {
    color: $tile-black-color;
}
.tile-node-RED {
    color: $tile-red-color;
}
.tile-node-BLU {
    color: $tile-blue-color;
}
.tile-node-YLW {
    color: $tile-yellow-color;
}