@use '../../../variables.scss' as *;



$scale: 0.15;

.hand-tile {
  /* 38mm x 26.5mm  */
  text-align: center;
  border: 1px solid #999;
  background-color: $tile-white-color;
  text-shadow: 0px 1px white, 0px -1px 1px #eee;
  border-radius: 4px;
  // width: (80px / 1.5);
  // height: (114px / 1.5);
  width: (40vh * $scale);
  height: (57vh * $scale);

  padding: 4px 4px 4px 4px;
  margin: 2px;
  user-select: none;
  cursor: pointer;

  &:hover {
    transform: translate(0, -8px);
  }

  .tile-value {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    margin: 0;
    // font-size: 23pt;
    font-size: (24vh * $scale);

    &.tile-value-BLK {
      color: $tile-black-color;
    }
    &.tile-value-RED {
      color: $tile-red-color;
    }
    &.tile-value-BLU {
      color: $tile-blue-color;
    }
    &.tile-value-YLW {
      color: $tile-yellow-color;
    }
  }
}

